img {
  width: 200px;
}

body {
  text-align: center;
}

body {
  text-align: center;
  font-family: 'Arial';
}

body {
  text-align: center;
  font-family: 'Arial';
  background: azure;
  color: purple;
}

a {
  color: purple;
}

a:hover {
  color: purple;
}

a:visited {
  color: purple;
}
